#nav-bar {table-layout: auto;width: 100%;/* height: 40px; */background-color: #78d0ff;display: block;}.nav-elem, .nav-bar-elem {display: block;position: relative;float: left;background-color: #4FA0D8;border-right: #CCC 1px solid;}.nav-bar-elem {padding: 0px;}.nav-bar-elem a {color: #FFFFFF;text-decoration: none;padding: 15px;}.nav-child {display: none;}.nav-bar-elem:hover > .nav-child {display: block;position: absolute;}.nav-elem:hover > .nav-child {display: block;position: absolute;}.nav-child li {background-color: #E4EFF7;line-height: 30px;border-bottom: #CCC 1px solid;border-right: #CCC 1px solid;width: 100%;}.nav-child li a {color: #000000;}.nav-bar ul {list-style: none;margin: 0;padding: 0px;min-width: 10em;}.nav-bar ul ul ul {left: 100%;top: 0;margin-left: 1px;}.nav-bar li:hover {background-color: #95B4CA;}.nav-bar-elem li:hover {background-color: #eeeeF0;}.expand {font-size: 12px;float: right;margin-right: 5px;}/* nav bar medium screen */@media only screen and (max-width: 990px) {#nav-bar {height: 40px;}.nav-elem {line-height: 40px;}.nav-bar-elem {line-height: 40px;font-size: 17px;/* padding-inline: 10px; */}/* .nav-bar-elem a {padding-left: 10px;padding-right: 10px;} */}/* nav bar big screen */@media only screen and (min-width: 990px) {html {font-size: 18px;}#nav-bar {height: 60px;}.nav-bar-elem {line-height: 60px;font-size: 24px;padding-inline: 10px;}.nav-child, .nav-child li {padding: 0px;}.nav-bar-elem a {padding-left: 12px;padding-right: 12px;}}/* nav bar small screen */@media only screen and (max-width: 600px) {#left-nav {display: none;}#nav-bar {height: 40px;}}body {/* background-color: #cde; */font-family: Calibri, 'Trebuchet MS', sans-serif;width: 100%;height: 100%;margin: 0px;background-image: linear-gradient(to bottom right,rgba(7, 3, 63, 0.8),rgba(0, 0, 112, 0.9),rgba(0, 40, 150, 0.9),rgba(0, 91, 191, 0.9));}.double-indent {padding-left: 40px;}.small {font-size: smaller;}.spaced {padding-top: 30px;}.no-hover li:hover {background-color: inherit;}

/* ------------- TEMPLATE ENDS ------------ */

.content {
    color: #FFFFFF;
    padding-left: 10px;
}

.indent {
	padding-left: 20px;
}

#note-nav {
    color: #FFFFFF;
    padding-left: 10px;
}

img {
    max-width: 95%; 
    height: auto;
}

.content-header {
	padding-left: 10px;
}

.content-medium {
    font-size: medium;
}

.content p {
	margin: 5px;
	padding-left: 10px;
}

.content a {
    color: #FFFFFF;
}

.chem-mono {
	font-family: monospace;
}

.worksheet-questions li {
    padding: 5px;
}

.table li {
    max-width: 250px;
}

#note-nav h3 {
    margin: 10px;
    padding-left: 10px;
}

#note-nav h1 {
    padding-left: 10px;
}

#note-nav {
    margin-left: 20px;
}

#note-nav .indent {
    margin-inline-start: 30px;
    padding: 7px;
}    

#note-nav button {
    background-color: rgb(207, 161, 61);
    border: 3px solid #ad6200;
    cursor: pointer;
}

#note-content {
    margin-left: 20px;
}

.hidden {
    visibility: hidden;
    display: none;
}

.content p {
    max-width: 96%;
}

.content code {
    background-color: #7c55e7;
    padding-left: 3px;
    padding-right: 3px;
    max-width: 90%;
}

.content .java-snippet {
    margin-top: 10px;
    background-image: linear-gradient(to right,rgba(165, 42, 247, 0.6),rgba(208, 55, 246, 0.9),rgba(165, 42, 247, 0.6));
    display: block;
    border: 3px solid rgb(171, 140, 206);
    padding: 10px;
    padding-top: 7px;
    max-width: 90%;
}

.content .java-snippet code {
    background-color: inherit;
}

tab {
    margin-left: 24px;
}