/* nav bar stuff */
@media only screen and (max-width: 990px) {#nav-bar {height: 40px;}.nav-elem {line-height: 40px;}}@media only screen and (min-width: 990px) {html {font-size: 18px;	}#nav-bar {height: 60px;	}.nav-child, .nav-child li {padding-inline: 0px;	}.nav-bar-elem {line-height: 60px;font-size: 24px;padding-inline: 10px;	}}@media only screen and (max-width: 600px) {#left-nav {display: none;}#nav-bar {height: 40px;}}

.indent {
	padding-left: 20px;
}

.content {
	color: #FFFFFF;
}

.small {
	font-size: smaller;
}

.content p {
	margin: 5px;
	padding-left: 10px;
}

